@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Scheherazade+New:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');

.rich-text-slide div {
  white-space: normal;
}

.rich-text-slide div strong {
  font-weight: 900;
}

.rich-text-slide div em {
  font-style: italic;
}
